@import "../../common/colors.scss";

.movie-wrapper {
    margin: 20px 0px;
    

    h2 {
        color: $font-secondary;
        margin-bottom: 10px;
        font-weight: 400;
    }

    h3 {
        color: #fff;
        text-align: center;
        font-weight: 600;
    }
}

.movie-list {
    min-height: 200px;
}

.serie-list {
    min-height: 200px;

}

.movie-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
    grid-gap: 15px;

}

